*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#050816;
    color:white;
    overflow-x:hidden;
}

/* NAVBAR */

nav{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 100px;
    background:rgba(255,255,255,0.05);
    backdrop-filter:blur(10px);
    z-index:1000;
}

.logo{
    font-size:32px;
    font-weight:800;
    letter-spacing:3px;
    color:rgb(173, 148, 218);
    font-family:'Poppins', sans-serif;
}

.logo span{
    color:#915EFF;
}


nav ul{
    display:flex;
    gap:35px;
    list-style:none;
}

nav ul li a{
    text-decoration:none;
    color:white;
    font-size:17px;
    transition:0.3s;
    font-weight: 500;
}

nav ul li a:hover{
    color:#915EFF;
}

/* HERO SECTION */

#hero{
    min-height:100vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 100px;
    position:relative;
}

.hero-content{
    max-width:600px;
}

.hero-content h1{
    font-size:80px;
    margin-bottom:15px;
}

.typing{
    color:#915EFF;
    font-size:35px;
    font-weight:600;
    border-right:3px solid #915EFF;
    display:inline-block;
    padding-right:5px;
}

.hero-content p{
    margin-top:25px;
    font-size:22px;
    line-height:1.7;
    color:#d1d1d1;
}

.hero-buttons{
    margin-top:35px;
}

button{
    padding:15px 35px;
    border:none;
    border-radius:30px;
    background:#915EFF;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
    margin-right:15px;
}

button:hover{
    transform:translateY(-5px);
    box-shadow:0 0 25px #915EFF;
}

.contact-btn{
    background:transparent;
    border:2px solid #915EFF;
}

/* IMAGE */

.hero-image{
    display:flex;
    justify-content:center;
    align-items:center;
}

.hero-image img{
    width:400px;
    height:400px;
    object-fit:cover;
    border-radius:50%;

    border:4px solid #915EFF;

    box-shadow:
    0 0 30px rgba(145,94,255,0.8),
    0 0 70px rgba(145,94,255,0.4);

    animation:float 4s ease-in-out infinite;
}

/* FLOAT ANIMATION */

@keyframes float{

    0%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(-15px);
    }

    100%{
        transform:translateY(0);
    }

}

/* BACKGROUND GLOW */

#hero::before{
    content:"";
    position:absolute;

    width:500px;
    height:500px;

    background:#915EFF;

    border-radius:50%;

    filter:blur(200px);

    opacity:0.25;

    right:80px;

    z-index:-1;
}

/* MOBILE */

@media(max-width:900px){

    nav{
        padding:20px 30px;
    }

    nav ul{
        gap:15px;
    }

    #hero{
        flex-direction:column-reverse;
        justify-content:center;
        text-align:center;
        padding:120px 30px 50px;
    }

    .hero-content h1{
        font-size:55px;
    }

    .typing{
        font-size:25px;
    }

    .hero-content p{
        font-size:18px;
    }

    .hero-image img{
        width:280px;
        height:280px;
        margin-bottom:40px;
    }

}

#about{
    padding:100px;
}

#about h2{
    font-size:45px;
    text-align:center;
    margin-bottom:50px;
    color:#915EFF;
}

.about-container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:50px;
}

.about-text{
    flex:1;
}

.about-text p{
    font-size:18px;
    line-height:1.8;
    color:#d1d1d1;
    margin-bottom:20px;
}

.about-cards{
    flex:1;
    display:flex;
    gap:20px;
    justify-content:center;
}

.card{
    background:rgba(255,255,255,0.05);
    backdrop-filter:blur(10px);
    border:1px solid rgba(255,255,255,0.1);
    border-radius:20px;
    padding:30px;
    text-align:center;
    transition:0.3s;
    min-width:150px;
}

.card:hover{
    transform:translateY(-10px);
    box-shadow:0 0 20px rgba(145,94,255,0.5);
}

.card h3{
    font-size:40px;
    margin-bottom:15px;
}

.card p{
    font-size:16px;
}


#skills{
    padding:100px;
}

#skills h2{
    text-align:center;
    font-size:45px;
    color:#915EFF;
    margin-bottom:50px;
}

.skills-container{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}

.skill-card{
    background:rgba(255,255,255,0.05);
    backdrop-filter:blur(10px);

    border:1px solid rgba(255,255,255,0.1);

    padding:35px;

    border-radius:20px;

    text-align:center;

    font-size:22px;

    transition:0.3s;
}

.skill-card:hover{
    transform:translateY(-10px);
    box-shadow:0 0 25px rgba(145,94,255,0.6);
}



#projects{
    padding:100px;
}

#projects h2{
    text-align:center;
    font-size:45px;
    color:#915EFF;
    margin-bottom:50px;
}

.projects-container{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:30px;
}

.project-card{
    background:rgba(255,255,255,0.05);
    backdrop-filter:blur(10px);

    border:1px solid rgba(255,255,255,0.1);

    padding:30px;

    border-radius:20px;

    transition:0.3s;
}

.project-card:hover{
    transform:translateY(-10px);

    box-shadow:0 0 25px rgba(145,94,255,0.6);
}

.project-card h3{
    margin-bottom:15px;
    color:#ffffff;
}

.project-card p{
    color:#d1d1d1;
    line-height:1.7;
}

#contact{
    padding:100px;
    text-align:center;
}

#contact h2{
    font-size:45px;
    color:#915EFF;
    margin-bottom:15px;
}

.contact-text{
    color:#bdbdbd;
    font-size:18px;
    margin-bottom:50px;
}

.contact-container{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.contact-card{
    width:300px;
    padding:30px;

    background:rgba(255,255,255,0.05);
    backdrop-filter:blur(10px);

    border-radius:20px;
    border:1px solid rgba(255,255,255,0.1);

    transition:0.3s;
}

.contact-card:hover{
    transform:translateY(-10px);
    box-shadow:0 0 25px rgba(145,94,255,0.6);
}

.contact-card h3{
    margin-bottom:15px;
}

.contact-card p{
    color:#d1d1d1;
}


footer{
    margin-top:50px;
    padding:30px;

    text-align:center;

    background:rgba(255,255,255,0.03);

    border-top:1px solid rgba(255,255,255,0.1);

    color:#bdbdbd;

    font-size:16px;

    backdrop-filter:blur(10px);
}

footer p{
    letter-spacing:1px;
}

footer:hover{
    color:#915EFF;
    transition:0.3s;
}